/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
----*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

ol,ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	background: '';
	background: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */
a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
} /* text align right */
.txt-lt {
	text-align: left;
} /* text align left */
.txt-center {
	text-align: center;
} /* text align center */
.float-rt {
	float: right;
} /* float right */
.float-lt {
	float: left;
} /* float left */
.clear {
	clear: both;
} /* clear float */
.pos-relative {
	position: relative;
} /* Position Relative */
.pos-absolute {
	position: absolute;
} /* Position Absolute */
.vertical-base {
	vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
	vertical-align: top;
} /* vertical align top */
nav.vertical ul li {
	display: block;
} /* vertical menu */
nav.horizontal ul li {
	display: inline-block;
} /* horizontal menu */
img {
	max-width: 100%;
}
/*end reset*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.login {
	width: 100%;
	height: 100%;
	background: url(../images/bg_taxes.jpg);
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 1366px 760px;
}

.main {
	padding-top: 7em;
	width: 25%;
}

#login_form {
	background: #0A192A;
	border-radius: 0.4em;
	border: 1px solid #0A192A;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
	
/* 	width: 25%; */
}

#register_form {
	background: #0A192A;
	border-radius: 0.4em;
	border: 1px solid #0A192A;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
	width: 150%;
/* 	width: 25%; */
}

#login_form:after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 100px;
	left: 20%;
	top: 0;
}

#login_form:before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 5px;
	border-radius: 50%;
	left: 34%;
	top: -7px;
	box-shadow: 0 0 6px 4px #fff;
}

.inset {
	padding: 20px;
	border-top: 1px solid #000;
}

#login_form h1 {
	text-align: center;
	padding: 18px 0;
	border-bottom: 1px solid #000;
	position: relative;
}

#login_form h1:after {
	content: "";
	display: block;
	width: 350px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 50px;
	pointer-events: none;
	-webkit-transform: rotate(70deg);
	background: linear-gradient(50deg, rgba(255, 255, 255, 0.15),
		rgba(0, 0, 0, 0));
}

#login_form h1 {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 18px 0;
	border-bottom: 1px solid #000;
	position: relative;
}

#login_form h1 span {
	padding: 5px;
	background: #0184ff;
}

#login_label {
	color: rgba(137, 192, 243, 0.8);
	display: block;
	font-size: 13px;
	padding-bottom: 9px;
}

#login_input[type=text],#login_input[type=password] {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 8px 5px;
	background: rgb(167, 167, 167); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(167, 167, 167, 1) 0%,
		rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%,
		rgba(242, 242, 242, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(167,
		167, 167, 1)), color-stop(21%, rgba(181, 181, 181, 1)),
		color-stop(79%, rgba(228, 228, 228, 1)),
		color-stop(100%, rgba(242, 242, 242, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(167, 167, 167, 1) 0%,
		rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%,
		rgba(242, 242, 242, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(167, 167, 167, 1) 0%,
		rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%,
		rgba(242, 242, 242, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(167, 167, 167, 1) 0%,
		rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%,
		rgba(242, 242, 242, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(167, 167, 167, 1) 0%,
		rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%,
		rgba(242, 242, 242, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7',
		endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
	border: 1px solid #222;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	margin-bottom: 20px;
	color: #000;
	font-size: 15px;
	outline: none;
}



label[for=remember] {
	color: #fff;
	display: inline-block;
	font-size: 13px;
}

input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
}

.p-container {
	padding: 0 20px 20px 20px;
}

.p-container:after {
	clear: both;
	display: table;
	content: "";
}

.p-container span a {
	font-size: 14px;
	display: block;
	float: left;
	color: #0d93ff;
	padding-top: 4px;
}

#login_button[type=submit] {
	padding: 5px 20px;
	border: 1px solid #439F07;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px
		rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	background: rgb(138, 199, 84); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,
		199, 84, 1)), color-stop(45%, rgba(121, 201, 50, 1)),
		color-stop(48%, rgba(102, 190, 24, 1)),
		color-stop(97%, rgba(57, 150, 2, 1)),
		color-stop(100%, rgba(102, 174, 63, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754',
		endColorstr='#66ae3f', GradientType=0); /* IE6-9 */
	color: #fff;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	outline: none;
}

#login_button[type=submit]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -10px 10px
		rgba(255, 255, 255, 0.1);
	background: rgb(102, 174, 63); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(102,
		174, 63, 1)), color-stop(3%, rgba(57, 150, 2, 1)),
		color-stop(52%, rgba(102, 190, 24, 1)),
		color-stop(55%, rgba(121, 201, 50, 1)),
		color-stop(100%, rgba(138, 199, 84, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f',
		endColorstr='#8ac754', GradientType=0); /* IE6-9 */
}


#login_button[type=button] {
	padding: 5px 20px;
	border: 1px solid #439F07;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px
		rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	background: rgb(138, 199, 84); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,
		199, 84, 1)), color-stop(45%, rgba(121, 201, 50, 1)),
		color-stop(48%, rgba(102, 190, 24, 1)),
		color-stop(97%, rgba(57, 150, 2, 1)),
		color-stop(100%, rgba(102, 174, 63, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(138, 199, 84, 1) 0%,
		rgba(121, 201, 50, 1) 45%, rgba(102, 190, 24, 1) 48%,
		rgba(57, 150, 2, 1) 97%, rgba(102, 174, 63, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754',
		endColorstr='#66ae3f', GradientType=0); /* IE6-9 */
	color: #fff;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	outline: none;
}

#login_button[type=button]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -10px 10px
		rgba(255, 255, 255, 0.1);
	background: rgb(102, 174, 63); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(102,
		174, 63, 1)), color-stop(3%, rgba(57, 150, 2, 1)),
		color-stop(52%, rgba(102, 190, 24, 1)),
		color-stop(55%, rgba(121, 201, 50, 1)),
		color-stop(100%, rgba(138, 199, 84, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102, 174, 63, 1) 0%,
		rgba(57, 150, 2, 1) 3%, rgba(102, 190, 24, 1) 52%,
		rgba(121, 201, 50, 1) 55%, rgba(138, 199, 84, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f',
		endColorstr='#8ac754', GradientType=0); /* IE6-9 */
}



/**start-copy-right**/
.copy-right {
	text-align: center;
}

.copy-right p {
	color: #FFF;
	font-size: 1em;
	padding: 6em 0;
}

.copy-right p a {
	font-size: 1em;
	font-weight: 600;
	color: #061A3D;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.copy-right a:hover {
	color: #fff;
}
/**/
/
end-copy-right
*
*
/
/*----start-responsive design-----*/


@media only screen and (max-width:1680px) {
	.main {
		width: 22%;
	}
	.copy-right p {
		padding: 0em 0;
	}
}

@media only screen and (max-width:1440px) {
	.main {
		width: 24%;
	}
	.copy-right p {
		padding: 3em 0;
	}
}

@media only screen and (max-width:1366px) {
	.main {
		width: 25%;
	}
	.copy-right p {
		padding: 3.5em 0;
	}
}

@media only screen and (max-width:1280px) {
	.main {
		width: 27%;
	}
	.copy-right p {
		padding: 4.3em 0;
	}
}

@media only screen and (max-width:1024px) {
	.main {
		width: 33%;
	}
	.copy-right p {
		padding: 6em 0;
	}
}

@media only screen and (max-width:768px) {
	.main {
		width: 43%;
	}
	.copy-right p {
		padding: 6em 0;
	}
}

@media only screen and (max-width:640px) {
	.main {
		width: 51%;
	}
	.copy-right p {
		padding: 6em 0;
	}
}

@media only screen and (max-width:480px) {
	.main {
		width: 68%;
	}
	.copy-right p {
		padding: 6em 0;
	}
}

@media only screen and (max-width:320px) {
	.main {
		width: 96%;
	}
	.copy-right p {
		padding: 1em 0;
	}
}
/* http://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/ */
.css-slideshow {
	position: absolute;
	width: 1366px;
	height: 760px;
	margin: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.css-slideshow figure {
	width: 1366px;
	height: 760px;
	margin: 0px;
	position: absolute;
	z-index: -1;
}

.css-slideshow img {
	width: 1366px;
	height: 760px;
	margin: 0px;
	-webkit-box-shadow: 0 0 2px #666;
	box-shadow: 0 0 2px #666;
}

.css-slideshow figcaption {
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, .3);
	font-size: .8em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

.css-slideshow:hover figure figcaption {
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

.css-slideshow-attr {
	text-align: right;
	font-size: .7em;
	font-style: italic;
}

.css-slideshow-attr a {
	color: #fff;
}

.css-slideshow
 
figure
:nth-child(1)
,
{
-ms-filter
:
 
"
progid
:DXImageTransform
.Microsoft
.Alpha
(Opacity=0)";


filter
:
 
alpha
(opacity=0);


opacity
:
 
0;
}
.css-slideshow figure:nth-child(1) {
	-webkit-animation: xfade 48s 42s 5;
	-moz-animation: xfade 48s 42s 5;
	-ms-animation: xfade 48s 42s infinite;
	-o-animation: xfade 48s 42s infinite;
	animation: xfade 48s 42s infinite;
}

.css-slideshow figure:nth-child(2) {
	-webkit-animation: xfade 48s 36s infinite;
	-moz-animation: xfade 48s 36s infinite;
	-ms-animation: xfade 48s 36s infinite;
	-o-animation: xfade 48s 36s infinite;
	animation: xfade 48s 36s infinite;
}

.css-slideshow figure:nth-child(3) {
	-webkit-animation: xfade 48s 30s infinite;
	-moz-animation: xfade 48s 30s infinite;
	-ms-animation: xfade 48s 30s infinite;
	-o-animation: xfade 48s 30s infinite;
	animation: xfade 48s 30s infinite;
}

.css-slideshow figure:nth-child(4) {
	-webkit-animation: xfade 48s 24s infinite;
	-moz-animation: xfade 48s 24s infinite;
	-ms-animation: xfade 48s 24s infinite;
	-o-animation: xfade 48s 24s infinite;
	animation: xfade 48s 24s infinite;
}

.css-slideshow figure:nth-child(5) {
	-webkit-animation: xfade 48s 18s infinite;
	-moz-animation: xfade 48s 18s infinite;
	-ms-animation: xfade 48s 18s infinite;
	-o-animation: xfade 48s 18s infinite;
	animation: xfade 48s 18s infinite;
}

.css-slideshow figure:nth-child(6) {
	-webkit-animation: xfade 48s 12s infinite;
	-moz-animation: xfade 48s 12s infinite;
	-ms-animation: xfade 48s 12s infinite;
	-o-animation: xfade 48s 12s infinite;
	animation: xfade 48s 12s infinite;
}

.css-slideshow figure:nth-child(7) {
	-webkit-animation: xfade 48s 6s infinite;
	-moz-animation: xfade 48s 6s infinite;
	-ms-animation: xfade 48s 6s infinite;
	-o-animation: xfade 48s 6s infinite;
	animation: xfade 48s 6s infinite;
}

.css-slideshow figure:nth-child(8) {
	-webkit-animation: xfade 48s 0s infinite;
	-moz-animation: xfade 48s 0s infinite;
	-ms-animation: xfade 48s 0s infinite;
	-o-animation: xfade 48s 0s infinite;
	animation: xfade 48s 0s infinite;
}

@
keyframes "xfade " { 0% {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

14
.67 % {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

16
.67 % {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

98%
{
-ms-filter
:
 
"
progid
:DXImageTransform
.Microsoft
.Alpha
(Opacity=0)";

    
filter
:
 
alpha
(opacity=0);

    
opacity
:
 
0;
}
100%
{
-ms-filter
:
 
"
progid
:DXImageTransform
.Microsoft
.Alpha
(Opacity=100)";

    
filter
:
 
alpha
(opacity=100);

    
opacity
:
 
1;
}
}
@
-moz-keyframes xfade { 0% {
	filter: alpha(opacity = 100);
	opacity: 1;
}

14
.67 % {
	filter: alpha(opacity = 100);
	opacity: 1;
}

16
.67 % {
	filter: alpha(opacity = 0);
	opacity: 0;
}

98%
{
filter
:
 
alpha
(opacity=0);

   
opacity
:
 
0;
}
100%
{
filter
:
 
alpha
(opacity=100);

   
opacity
:
 
1;
}
}
@
-webkit-keyframes "xfade " { 0% {
	filter: alpha(opacity = 100);
	opacity: 1;
}

14
.67 % {
	filter: alpha(opacity = 100);
	opacity: 1;
}

16
.67 % {
	filter: alpha(opacity = 0);
	opacity: 0;
}

98%
{
filter
:
 
alpha
(opacity=0);

   
opacity
:
 
0;
}
100%
{
filter
:
 
alpha
(opacity=100);

   
opacity
:
 
1;
}
}
@
-ms-keyframes "xfade " { 0% {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

14
.67 % {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

16
.67 % {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

98%
{
-ms-filter
:
 
"
progid
:DXImageTransform
.Microsoft
.Alpha
(Opacity=0)";

   
filter
:
 
alpha
(opacity=0);

   
opacity
:
 
0;
}
100%
{
-ms-filter
:
 
"
progid
:DXImageTransform
.Microsoft
.Alpha
(Opacity=100)";

   
filter
:
 
alpha
(opacity=100);

   
opacity
:
 
1;
}
}
@
-o-keyframes "xfade " { 0% {
	filter: alpha(opacity = 100);
	opacity: 1;
}

14
.67 % {
	filter: alpha(opacity = 100);
	opacity: 1;
}

16
.67 % {
	filter: alpha(opacity = 0);
	opacity: 0;
}
98%
{
filter
:
 
alpha
(opacity=0);

   
opacity
:
 
0;
}
100%
{
filter
:
 
alpha
(opacity=100);

   
opacity
:
 
1;
}
}
/*----//end-responsive design-----*/